body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1 , h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {  /* classe para o h1 principal*/
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;  /* define uma borda de 10px de altura , solida e preta*/
	font-size: 60px;
	text-transform: uppercase; /* define todas as letras maisculas */
}

p {
	text-align: justify;
	margin: 20px 0;  /*define o espaçamento entre a escrita em 10px */
}

.navegacao-site {
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	clear: both; /* especifica em qual dos lados o elemento não pode flutuar */ 
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

main a {
	color: #851944;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.citacao-bio , .navegacao-site , .rodape-pagina {
	padding: 20px; /* define o espaçamento das palavras */
}

.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px; /* define a altura do espaço da frase dentro da caixa*/
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both; /* especifica em qual dos lados o elemento não pode flutuar */
}

.icones-redes-sociais li {
	display: inline-block; /*define que o elemento deve ser renderizado dentro da caixa */
}
 
nav a {
	text-transform: lowercase; /*tranforma todo o texto em minuscolo */
}

.icones-redes-sociais a {
	width: 40px; /* define a largura da imagem */
	height: 40px;	/* define a altura da imagem */
	display: block; /* especifica o comportamento de exibição de um elemento */
	text-indent: -99999px /* joga o texto encima da imagem para fora da página */
}

.github {
	background-image: url(img/github.png);
}

.twitter {
	background-image: url(img/twitter.png);
}

.linkedin {
	background-image: url(img/linkedin.png);
}

main {
	float: left; /* especifica como um elemento deve flutuar */ 
	width: 85%;
	padding-bottom: 80px;
}

.minha-foto , .navegacao-site {
	float: right; /* especifica como um elemento deve flutuar */
	box-sizing: border-box; /* inclui preenchimento e borda na largura e altura total do elemento */
	border-left: 10px solid black; /* define o estilo do limite esquerdo para diferentes elementos */
	border-bottom: 10px solid black; /* define o estilo do limite inferior para diferentes elemento */
}

.minha-foto {
	position: absolute;
	top: 0px;
	right: 0px;
}

.navegacao-site {
	width: 15%;
	position: relative;
	top: 310px;
}