.class {

	} /* para criar uma classe */

line-height: /* define a altura da linha */
padding: /* define um espaçamento entre a escrita e a borda */
border-bottom: /* define um estilo do limite inferior para diferentes elementos */
margin: /* define o espaço de altura das frases */
border: /* para criar um borda */
display: /* especifica o comportamento de exibição de um elemento */
float : /* especifica como um elemento deve flutar */
box-sizing : /* inclui preenchimento e borda na largura e altura total do elemento */
text-transform: /* transforma o texto em minusculo ou maisculo */
text-indent: /* joga o texto de cima da imagem para fora da pagina */
clean: /* especifica em qual dos lados o elemento não pode flutuar */